@font-face{
    src: url(../assets/font/Merriweather/Merriweather-Bold.ttf);
    font-family: Merriweather;
  }
  @font-face{
    src: url(../assets/font/Open_Sans/OpenSans-SemiBold.ttf);
    font-family:Open Sans;
  }
  body{
    cursor: pointer;
  }
  .nav-bg{
      background: #000000 !important;
  }
  .navbar-nav .nav-link{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #FFFFFF !important;
  }
  #ship-home{
      background-image: url(../images/Group\ 303.png);
      background-repeat: no-repeat;
      background-size: cover;
  }
  #ship-home h3{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 97px;
    line-height: 122px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
  }
  #ship-home p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
  #ship-home .space-type{
    background: #1B1B1B;
    border-radius: 10px;
    width: 518px;
    height: 500px;
  }
  #ship-home .space-type h2{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 63px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
  }
  #ship-home .space-type h6{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
  }
  #ship-home ul li{
      color: #8BBD43;
  }
  #ship-home ul{
   
}
#ship-home ul li::marker{
    color: #8BBD43;
    font-size: 1.5em;
    margin-left: 5px;

}
  #total-approx{
      background: #1B1B1B;
  }
  #total-approx h2{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 57px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
#total-approx .form-control{
    background-color: transparent;
    border: 1px solid #FFFFFF;
}
#total-approx .input-width{
    width: 470px;
}
#optional{
    background-image: url(../images/Group\ 304.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#optional p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
#optional h2{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 57px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    
}
  input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 6px;
    /* background-color only for content */
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: #e7e6e7;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 1px solid #000 ;
  }
   input[type="radio"]:checked {
    background-color: #8BBD43 !important;
    padding: 4px;
    border: 1px solid #8BBD43 !important;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px white;
}
 
#radio-btn label{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
#radio-btn1 label{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
#footer .btn{
    background: #fff;
    border-radius: 107px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #8BBD43;
    margin-top: -42px;
}
#footer{
    background: #8BBD43;
}
#footer h4{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;

}
/***************************media queries******************************/
/* Smartphones (portrait) ----------- */
@media (min-width: 357px) and (max-width: 767px) {
    #ship-home h3{
        font-size: 40px;
    }
    #optional h2{
        font-size: 22px;
        line-height: 30px;
    }
    #ship-home .space-type{
        width: 342px;
    }
    #total-approx .input-width {
        width: 288px;
    }
    #total-approx h2{
       font-size: 25px;
    }
    #footer .btn{
        font-size: 20px;
        line-height: 1px;
        margin-top: -14px;
    }
    #footer h4{
        font-size: 12px;
       
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #ship-home h3{
        font-size: 60px;
    }
    #optional h2{
        font-size: 29px;
    }
    #total-approx h2{
        font-size: 30px;
    }
    #footer .btn{
        font-size: 24px;
        line-height: 0px;
        margin-top: -18px;
    }
    #footer h4{
        font-size: 25px;
    }
}